section.catalogs#catalogs
    .container
      .catalogs__catalog
        img.catalogs__img.lovestory(src=colections_path + 'lovestory.jpg' alt='')
        .catalogs__description-block
          h2.subtitile.catalogs__subtitile Love Story
          p.catalogs__text
            |Любовь — это не решение. Это чувство. Если бы мы могли решать, кого любить, все было бы гораздо проще. Но куда менее волшебно.<br><br>Южный парк (South Park)
              
          a.button.catalogs__button подробнее
      .catalogs__catalog
        .catalogs__description-block
          h2.subtitile.catalogs__subtitile Портрет
          p.catalogs__text
            |Ведь мы — то, что мы думаем. Наши эмоции — рабы наших мыслей, а мы в свою очередь рабы эмоций.<br><br>Элизабет Гилберт. Есть, молиться, любить
          a.button.catalogs__button подробнее
        img.catalogs__img.mother(src=colections_path + 'portret.jpg' alt='')
      .catalogs__catalog
        img.catalogs__img.portret(src=colections_path + 'report.jpg' alt='')
        .catalogs__description-block
          h2.subtitile.catalogs__subtitile Репортаж
          p.catalogs__text
            |Либо мир так мал, либо мы так огромны, во всяком случае, мы заполняем его целиком.<br><br>Франц Кафка
          a.button.catalogs__button подробнее
      .catalogs__catalog
        .catalogs__description-block
          h2.subtitile.catalogs__subtitile Свадебная фотосессия
          p.catalogs__text
            |Человек несовершенен без второй половинки. Понимая это интуитивно, человек разыскивает свое совершенство, что приводит к свадьбе. <br><br>Платон
          a.button.catalogs__button подробнее
        img.catalogs__img.mother(src=colections_path + 'wedding.jpg' alt='')
      .catalogs__catalog
        img.catalogs__img.portret(src=colections_path + 'studio.jpg' alt='')
        .catalogs__description-block
          h2.subtitile.catalogs__subtitile Студийная фотосессия
          p.catalogs__text
            |«Все люди одинаковы!». Нет это не так. Все люди — разные, и право отличаться от других надо отстаивать до конца и не заботясь о последствиях.<br><br>Пауло Коэльо. Победитель остается один
          a.button.catalogs__button подробнее