section.catalogs#catalogs
    .container
      .cat
        img.lovestory(src=colections_path + 'lovestory.jpg' alt='')
        .description_catalog
          h2 Love Story
          p
              |Любовь — это не решение. Это чувство. Если бы мы могли решать, кого любить, все было бы гораздо проще. Но куда менее волшебно.<br><br>Южный парк (South Park)
              
          button подробнее
      .cat
        .description_catalog
          h2 Портрет
          p
            | Ведь мы — то, что мы думаем. Наши эмоции — рабы наших мыслей, а мы в свою очередь рабы эмоций.<br><br>Элизабет Гилберт. Есть, молиться, любить
          button подробнее
        img.mother(src=colections_path + 'portret.jpg' alt='')
      .cat
        img.portret(src=colections_path + 'report.jpg' alt='')
        .description_catalog
          h2 Репортаж
          p
            | Либо мир так мал, либо мы так огромны, во всяком случае, мы заполняем его целиком.<br><br>Франц Кафка
          button подробнее
      .cat
        .description_catalog
          h2 Свадебная фотосессия
          p
            | Человек несовершенен без второй половинки. Понимая это интуитивно, человек разыскивает свое совершенство, что приводит к свадьбе. <br><br>Платон
          button подробнее
        img.mother(src=colections_path + 'wedding.jpg' alt='')
      .cat
        img.portret(src=colections_path + 'studio.jpg' alt='')
        .description_catalog
          h2 Студийная фотосессия
          p
            | «Все люди одинаковы!». Нет это не так. Все люди — разные, и право отличаться от других надо отстаивать до конца и не заботясь о последствиях.<br><br>Пауло Коэльо. Победитель остается один
          button подробнее