header.header#header
  .container
    nav.header__navbar
      .header__links-block
        a.header__link(href='#header') Главная
        a.header__link(href='#catalogs') Галерея
        a.header__link(href='#get_in') Контакты
      .header__logo_main
        a.header__logo_link(href="#")
          img.header__logo_img(src='./assets/images/icons/logo.png' alt='')
      .social
        a.social__link(href="https://vk.com/oksana_ph")
          img.social__img(src=icons_path + 'vk.png' alt='' title="VK")
        a.social__link(href="https://www.instagram.com/oksanaleyn/")
          img.social__img(src=icons_path + 'instagram.png' alt='' title="Instagram")
        a.social__link(href="https://oksanaleyn.ru")
          img.social__img(src=icons_path + 'blog.png' alt='' title="Blog")
        a.social__link(href="https://teleg.run/Oksana_Leyn")
          img.social__img(src=icons_path + 'telegram.png' alt='' title="Telegram")
        a.social__link(href="https://api.whatsapp.com/send?phone=79515224657")
          img.social__img(src=icons_path + 'watsapp.png' alt='' title="WhatsApp")
    h1.header__title Оксана Лейн
    h2.subtitle.header__subtitle Фотограф в Ростове-на-Дону
      a.button.header__button(href='#recent') Познакомиться
